<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/images/logo.jpg">
    <title>VulnMatrix</title>
    <style>
        @font-face {
            font-family: 'Apple Chancery';
            src: url('/static/fonts/Apple%20Chancery.woff') format('woff');
        }
    </style>
    {% block css %}
    {% end %}
    <link href="static/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="static/css/core.css" rel="stylesheet" type="text/css"/>
    <link href="static/css/components.css" rel="stylesheet" type="text/css"/>
    <link href="static/css/icons.css" rel="stylesheet" type="text/css"/>
    <link href="static/css/pages.css" rel="stylesheet" type="text/css"/>
    <link href="static/css/menu2.css" rel="stylesheet" type="text/css"/>
    <link href="static/css/responsive.css" rel="stylesheet" type="text/css"/>
    <link href="static/plugin/sweetalert/sweetalert.css" rel="stylesheet" type="text/css"/>

    <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script src="static/js/modernizr.min.js"></script>

</head>
<body>

<!-- Sidebar -->
<div id="sidebar">
    <div class="logo">
        <a href="/" class="logo"><span>VulnMatrix</span></a>
    </div>
    <ul class="navigation-menu">



        <li class="has-submenu">
            <a href="/home"><i class="zmdi zmdi-home"></i> <span> 首页 </span> </a>
        </li>

        <li>
            <a href="/status_info"><i class="zmdi zmdi-widgets"></i> <span> 状态 </span> </a>
        </li>

        <li class="has-submenu">
            <a href="/setting"><i class="zmdi zmdi-settings"></i> <span> 修改密码 </span> </a>
        </li>

        <li class="has-submenu">
            <a href="/tool_manage"><i class="zmdi zmdi-devices"></i> <span> 工具管理 </span> </a>
        </li>

        <li class="has-submenu">
            <a href="/envs_info"><i class="zmdi zmdi-puzzle-piece"></i> <span> 靶场环境 </span> </a>
        </li>

        <li class="has-submenu">
            <a href="/view"><i class="zmdi zmdi-device-hub"></i> <span> 网络拓扑 </span> </a>
        </li>

        <li>
            <a href="/logout">退出</a>
        </li>
    </ul>
</div>
<!-- End Sidebar -->


</body>
{% block css %}
<style>
    .card-box {
        background-color: #FFFFFF;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        color: #eaeaea;
        text-align: center;
        margin-left: -130px;
        margin-top: 100px;
        width: 1000px;
        height: 600px;
        position: relative;
        {#z-index: 0;#}
    }

    .header-title {
        margin: 0 0 15px;
        font-size: 18px;
        font-weight: 600;
        position: relative;
    }

    .header-title #io {
        position: absolute;
        right: 20px;
        top: 0;
        font-size: 14px;
    }

    .widget-chart {
        margin: 20px 0;
    }

    .content-center {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 80vh; /* 让内容在垂直方向上居中 */
    }

    #mynetwork {
        margin-left: -20px;
        margin-top: -40px;
        width: 1000px;
        height: 600px;
        border: 1px solid lightgray;
        position: relative;
        {#z-index: 10;#}
    }

    *{padding: 0;margin: 0;}

    .menu{
        position: absolute;
        background: rgba(3,3,3,0.6);
        border-radius: 5px;
        left: -99999px;
        top: -999999px;
    }

    .menu ul{list-style: none;}

    .menu ul li{
        padding: 5px 10px;
        color: #ffff;
        border-bottom: 1px solid #ffffff;
        font-size: 14px;
        cursor: pointer;
        list-style: none;
    }

    .menu ul li:hover{
        color: #659bc5;
    }

    .menu ul li:last-child{
        border-bottom: none;
        padding: 5px 10px 0 10px;
    }

    canvas{
        cursor:pointer;
    }

    .dashed-rectangle {
        position: absolute;
        border: 2px dashed #999;
        pointer-events: none; /* Ensure the rectangle doesn't intercept mouse events */
        box-sizing: border-box;
    }
</style>
{% end %}

{% block webinfo %}
<script type="text/javascript" src="https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/jquery/jquery-1.10.2.min_65682a2.js"></script>
<script type="text/javascript" src="static/js/vis-network.min.js"></script>
<div class="content-center">
    <div class="col-lg-4">
        <div class="card-box">
            <h4 class="header-title m-t-0"><span id="io"></span>
            </h4>
            <div id="pie_ios">
                <div class="widget-chart text-center">
                    <div id="mynetwork"></div>
                    <!--菜单操作-->
                    <div id="menuOperation" class="menu" style="display: none;">
                        <ul>
                            <li><span class="glyphicon glyphicon-off" aria-hidden="true"></span> 下线</li>
                            <li><span class="glyphicon glyphicon-road" aria-hidden="true"></span> 通行</li>
                        </ul>
                    </div>
                    <!--节点悬停-->
                    <div class="menu" id="divHoverNode" style="display: none;">
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end col -->
</div>
{% end %}

{% block scripts %}
<script type="text/javascript">

    //恢复HTML转义，将其转为数组，注意这里传过来是jsonString
    var message='{{data}}'.replace(/&quot;/g,"\"");
    message=JSON.parse(message)
    console.log(message['node']);
    var allNodes=message['node'];
    var allEdges=message['edge'];
    /**
     * 自定义图片
     */
    for (var i = 0;i < allNodes.length;i++){
        if (allNodes[i].type == 'attacker'){
            allNodes[i].image = 'static/images/attacker.png';
        }
        if (allNodes[i].type == 'switch'){
            allNodes[i].image = 'static/images/switch.png';
        }
        if (allNodes[i].type == 'target'){
            allNodes[i].image = 'static/images/target.png';
        }

        if (allNodes[i].type == 'router'){
            allNodes[i].image = 'static/images/router.png';
        }
        if (allNodes[i].type == 'firewall'){
            allNodes[i].image = 'static/images/firewall.png';
        }

    }
    // 获取容器
    var container = document.getElementById('mynetwork');
    // 创建节点对象
    var nodes = new vis.DataSet(allNodes);
    // 创建连线对象
    var edges = new vis.DataSet(allEdges);
    // 将数据赋值给vis 数据格式化器
    var data = {
        nodes: nodes,
        edges: edges
    };
    //console.log('nodes',data.nodes);

    var options = {
        nodes:{
            shape: 'image',
            brokenImage:"https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1599645215703&di=0cb23e74736a6a1222f35b822f5bf833&imgtype=0&src=http%3A%2F%2Fa1.att.hudong.com%2F05%2F00%2F01300000194285122188000535877.jpg"

        },
        groups:{
           net1:{
              color:{
                 background:'#ffffff',
                 border:'#000000'
              }
           },
           net1_net2:{
              color:{
                 background:'#0077b6',
                 border:'#003d66'
              }
           },
           net2:{
              color:{
                 background:'#ff69b4',
                 border:'#b30059'
              }
           },
           net2_net3:{
              color:{
                 background:'#ff69b4',
                 border:'#b30059'
              }
           },
           net3:{
              color:{
                 background:'#ff69b4',
                 border:'#b30059'
              }
           },


        },
         /*edges:{
            arrows: {

                middle: {
                 enabled: true,
                 imageHeight: 32,
                 imageWidth: 32,
                 scaleFactor: 1,
                 src: "static/image/firewall.png",
                 type: "image"
                },
             }

         },*/


        interaction:{
            hover:true,
            hoverConnectedEdges: true,
            navigationButtons: true,
            dragNodes: true, //是否能拖动节点
		    dragView: true, //是否能拖动画布
			hover: true, //鼠标移过后加粗该节点和连接线
			multiselect: false, //按 ctrl 多选
			selectable: false, //是否可以点击选择
			selectConnectedEdges: false, //选择节点后是否显示连接线
			hoverConnectedEdges: false, //鼠标滑动节点后是否显示连接线
			zoomView: true //是否能缩放画布
        },
        layout: {
            //树形
            //hierarchical: {direction: 'LR', sortMethod: 'directed'}
            improvedLayout: false
        },
    };


    // 初始化关系图
    var network = new vis.Network(container, data, options,height="200px",width="100%",main="网络拓扑图");


    /**
     * 节点鼠标悬停（点击）获取到的信息
     * 因为hoverNode事件官方文档中给的信息悬停时只传了id值，想在鼠标悬停的时候显示该节点的信息拿不到值，所以遍历节点，相等的时候return改节点的信息
     * @param option-----鼠标悬停时取得的id
     * @returns flag, port, ip, name, ignore, id, type|flag, port, ip, name, ignore, model, id, type, mac, uptime|flag, port, ip, name, ignore, model, location, id, type, mac, account, uptime
     */
    function getNode(option) {
        for (var i = 0;i < allNodes.length;i++){
            if (option == allNodes[i].id){
                // console.log('i',allNodes[i]);
                return allNodes[i];
            }
        }
    }
    /**
     * 线悬停（点击）时两端节点的信息（与节点类似）
     * edges中加了id属性，代表线条指向，悬停时通过edges--id与nodes--id对比，将两端节点信息拼凑出来
     * @param option----鼠标悬停在线上时取得的id
     * @returns {Array}
     */
    function getEdge(option){
        var linkId = option;
        linkId = linkId.split('_');
        //var linkIdFirst = linkId.substring(0,1);//截取第一位
        var linkIdFirst=linkId[0];
        var linkIdLast=linkId[1];
        //var linkIdLast = linkId.substring(linkId.length-1,linkId.length);//截取最后一位
        var dataList = [];//存放线条两边的节点nodes数据
        for (var j =0;j<allNodes.length;j++){
            if (linkIdFirst == allNodes[j].id || linkIdLast == allNodes[j].id){
                dataList.push(allNodes[j]);
            }
        }
        return dataList;
    }
    //todo  悬停在节点上--显示弹框
    network.on('hoverNode',function(properties){
        // console.log('悬停节点',properties);
        var hoveNodeList = getNode(properties.node);
        // console.log('hoveNodeList',hoveNodeList);
        var deviceType = hoveNodeList.type;
        var imgPathSrc = hoveNodeList.image;

        if (deviceType == "attacker" ){
            var $ul = "<ul>"
                +"<li><img src=' "+imgPathSrc+" ' width='30px' height='25px'><span> "+hoveNodeList.name+" </span> </li>"
                +"</ul>";
            $("#divHoverNode").append($ul);
        }
        /*
        else if (deviceType == "switch"){
            var $ul = "<ul>"
                +"<li><img src=' "+imgPathSrc+" ' width='30px' height='25px'><span> "+hoveNodeList.name+" </span> </li>"
                +"<li>IP："+ hoveNodeList.ip+"</li>"
                +"<li>MAC："+ hoveNodeList.mac+"</li>"
                +"<li>设备型号："+ hoveNodeList.model+"</li>"
                +"</ul>";
            $("#divHoverNode").append($ul);
        }*/else if (deviceType == "router"){
                var $ul = "<ul>"
                +"<li><img src=' "+imgPathSrc+" ' width='30px' height='25px'><span> "+hoveNodeList.name+" </span> </li>"
                +"<li>IP1："+ hoveNodeList.net1+"</li>"
                +"<li>IP2："+ hoveNodeList.net2+"</li>"
                +"<li>IP3："+ hoveNodeList.net3+"</li>"
                +"</ul>";
            $("#divHoverNode").append($ul);
        }else if (deviceType == "target"){
            var $ul = "<ul>"
                +"<li><img src=' "+imgPathSrc+" ' width='30px' height='25px'><span> "+hoveNodeList.name+" </span> </li>"
                +"<li>IP："+ hoveNodeList.ip+"</li>"
                +"</ul>";
            $("#divHoverNode").append($ul);
        }

        $('#divHoverNode').css({
            'display': 'block',
            'left': properties.event.offsetX + 15,
            'top' : properties.event.offsetY + 15
        });
        $('#menuOperation').hide();
    });
    //todo  从节点移开---隐藏弹框
    network.on('blurNode',function(){
        $("#divHoverNode").hide();
        $("#divHoverNode").empty();//移除之后清空div
    });

    //todo  悬停在边上--显示弹框
    network.on('hoverEdge',function(properties){
        // console.log('悬停边',properties);
        var hoveEdgeList = getEdge(properties.edge);
        //console.log('hoveEdgeList',hoveEdgeList);
        var flag=hoveEdgeList[1].ip.split(".")[1];


        var $ul = "<ul>"
            +"<li>名称："+ hoveEdgeList[0].name+"->"+hoveEdgeList[1].name+"</li>";
        var ip='';
        if(hoveEdgeList[0].type=='router'){
            //ip=hoveEdgeList[0].net1;
            var i=1;
            var net='net'+i.toString();
            //net=JSON.stringify(net);
            //net=JSON.parse(net);
           // console.log(hoveEdgeList[0][net]);
            do{
               var netFlag=hoveEdgeList[0][net].split(".")[1];
               i=i+1;
               net='net'+i.toString();
            }while(netFlag!=flag)
            i=i-1;
            net='net'+i.toString();
            ip=hoveEdgeList[0][net];
            //$ul+="<li>连接："+ ip+"->"+hoveEdgeList[1].ip+"</li>";
        }else{
            ip=hoveEdgeList[0].ip;
            $ul+="<li>连接："+ hoveEdgeList[0].ip+"->"+hoveEdgeList[1].ip+"</li>";
        }
        $ul+="</ul>";


        /*var $ul="<ul>"
            +"<li>名称："+ hoveEdgeList[0].name+"->"+hoveEdgeList[1].name+"</li>";
        var stringP="<li>连接：";
        if(hoveEdgeList[0].medi=="true"){
             stringP+=hoveEdgeList[0].net2;

        }else{
             stringP+=hoveEdgeList[0].ip;
        }
        stringP+="->";
        if(hoveEdgeList[1].medi=="true"){
             stringP+=hoveEdgeList[1].net1;

        }else{
             stringP+=hoveEdgeList[1].ip;
        }
        $ul+=stringP;
        $ul+="</ul>";
        */
        $("#divHoverNode").append($ul);
        $('#divHoverNode').css({
            'display': 'block',
            'left': properties.event.offsetX + 15,
            'top' : properties.event.offsetY + 15
        });
        $('#menuOperation').hide();
    });
    //todo  从边上移开---隐藏弹框
    network.on('blurEdge',function(properties){
        $("#divHoverNode").hide();
        $("#divHoverNode").empty();//移除之后清空div
    });
    //todo  点击的判断是否选中节点时候显示隐藏
    network.on('click',function(properties){
        var clickNodeList = getNode(properties.nodes[0]);
        // console.log('clickNodeList',clickNodeList);
        if (typeof(clickNodeList) == "undefined") {
            $('#menuOperation').hide();
        }else{
            $('#menuOperation').css({
                'display': 'block',
                'left': properties.event.center.x + 15,
                'top' : properties.event.center.y + 15
            });
            $("#divHoverNode").hide();
        }
    });
    //todo 双击时折叠和展开
    network.on("doubleClick", function(params) {//双击事件
        if (params.nodes.length != 0) {//确定为节点双击事件
            var click_node_id = params.nodes[0];
            remove_all_sub_nodes(click_node_id);
        }
    });
    //todo 删除下级所有节点
    function remove_all_sub_nodes(node_id) {
        var sub_nodes = get_directly_sub_nodes(node_id);
        // console.log('sub_nodes',sub_nodes)
        if (sub_nodes.length == 0) {//当前点击的为叶子节点
            //判断是否有下级节点
            // console.log('sub',allNodes[node_id - 1]['subids']);
            if (typeof (allNodes[node_id - 1]['subids']) != 'undefined') {
                $.each(allNodes[node_id - 1]['subids'], function(index, item) {
                    // console.log('allNodes[item - 1]',allNodes[item - 1])
                    nodes.add(allNodes[item - 1]);
                    edges.add({id: node_id + '_' + item, from: node_id, to: item});
                });
            } else {
                alert('当前为叶子节点');
            }
        } else {
            $.each(sub_nodes, function(index, item) {
                var sub_sub_nodes = get_directly_sub_nodes(item);
                if (sub_sub_nodes.length == 0) {
                    nodes.remove({id: item});
                    edges.remove({id: node_id + '_' + item});
                } else {
                    remove_all_sub_nodes(item);
                }
                nodes.remove({id: item});
                edges.remove({id: node_id + '_' + item});
            });
        }
    }
    //todo 获取某节点直属下级节点
    function get_directly_sub_nodes(node_id) {
        var return_nodes = [];
        var connectedNodes = network.getConnectedNodes(node_id);//获取所有连接节点
        $.each(connectedNodes, function(index, item) {
            // console.log('allNodes',allNodes)
            if (item != allNodes[node_id - 1]['pid']) {//当前节点的父节点 ，不操作
                return_nodes.push(item);
            }
        });
        return return_nodes;
    }


    network.on("beforeDrawing", (ctx) => {
		// console.log(this.network.getScale()) // 放大缩小倍数
		isDrowGaphical(ctx,isDrowPosition('isTrue'),getPositionWidth('isTrue'))
		isDrowGaphical(ctx,isDrowPosition('isTogether'),getPositionWidth('isTogether'))
	});

    function isDrowPosition(opt){
				let PositionArr = []
				this.nodes.forEach(element => {
						if(element[opt]) {
							PositionArr.push(element.id)
						}
				});
				let isPosiObj = this.network.getPositions(PositionArr) // 获取位置信息
				let NewObj = {maxX:null,minX:null,maxY:null,minY:null}
				for(var item in isPosiObj) {
					// console.log(isPosiObj[item])
					if (isPosiObj[item].x > NewObj.maxX || NewObj.maxX == null) NewObj.maxX = isPosiObj[item].x
					if (isPosiObj[item].x < NewObj.minX || NewObj.minX == null) NewObj.minX = isPosiObj[item].x
					if (isPosiObj[item].y > NewObj.maxY || NewObj.maxY == null) NewObj.maxY = isPosiObj[item].y
					if (isPosiObj[item].y < NewObj.minY || NewObj.minY == null) NewObj.minY = isPosiObj[item].y
				}
				return NewObj
	}
    function getPositionWidth(opt){
				let removeX = 0
				let removeY = 0
				this.nodes.forEach(ele => {
					if(ele[opt]) {
						let obj = this.network.getBoundingBox(ele.id)
						if(removeX < (obj.right - obj.left)/2+10){
							removeX = (obj.right - obj.left)/2+10
						}
						if(removeY < (obj.bottom - obj.top)/2+10){
							removeY = (obj.bottom - obj.top)/2+10
						}
					}
				})
				return {
					removeX,
					removeY
				}
			}
    function isDrowGaphical(ctx,obj,SafeArea){
				// 最小x 最小y => 最大x 最小y  => 最大x 最大y => 最小x 最大y
				ctx.save(); // 这里的坑 影响了之前的所有线都成为了虚线
				ctx.beginPath();
				ctx.strokeStyle='#aaa'
				ctx.setLineDash([10,10]);
				ctx.moveTo(obj.minX-SafeArea.removeX,obj.minY-SafeArea.removeY);
				ctx.lineTo(obj.maxX+SafeArea.removeX,obj.minY-SafeArea.removeY);
				ctx.lineTo(obj.maxX+SafeArea.removeX,obj.maxY+SafeArea.removeY);
				ctx.lineTo(obj.minX-SafeArea.removeX,obj.maxY+SafeArea.removeY);
				ctx.closePath();
				ctx.stroke();
				ctx.restore();
	}

</script>
{% end %}
